# Virtual Environment 
.venv/
venv/
ENV/
env/

# Python cache files
__pycache__/
*.py[cod]
*$py.class

# Environment variables 
.env

# Vector Database 
vectorstore/
faiss_db/

# MacOS specific files 
.DS_Store.venv/
